<h2>{{action}} TODO</h2>

<form name="todoform" class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
		<input type="text" ng-model="todo.description" id="description" name="description" placeholder=""/>
	</div>
  </div>
 
  <div class="control-group">
    <label class="control-label" for="completed">Completed</label>
    <div class="controls">
		<input type="text" ng-model="todo.completed" id="completed" name="completed" ng-placeholder="False"/>
	</div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="date_due">Date due</label>
    <div class="controls">
		<input type="date" ng-model="todo.date_due" id="date_due" name="date_due" ng-placeholder="1970-01-01 00:00:00"/>
	</div>
  </div>

  
  <div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">
      {{action}}
    </button>
    <a href="/" class="btn">Cancel</a>
  </div>
</form>
